.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.expensetracker {
  background-color: white;
  padding: 25px 35px;
  min-width: 50%;
}
.expensetable {
  padding: 20px 0px 0px;
}

.expenseform {
  padding: 15px 0px 0px;
}

.expenseinput {
  padding: 5px 0px 5px;
  display: flex;
  align-items: center;
}

label {
  padding:0px 5px 0px 0px
}

th {
  padding: 0px 10px 0px 5px
}

td {
  padding: 0px 10px 0px 5px;
  text-align: center;
}

.inputerror {
color: red;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #edebe8;
}

.header {
  font-family: 'DM Serif Text', serif;
  font-size: 30px;
}

.headerline {
  height: 1px;
  background-color: lightgray;
}

table, th, td {
  border: 1px solid lightgray;
  border-collapse: collapse;
}

table {
  width: 100%;
}

.expenseitem:hover {background-color: #e7e1d6;}

.graphchart {
padding: 0px 0px 15px;
width: 100%;
}

.graphcontainer{
  display: flex;
  align-items: center;
  justify-content: center;
}

tr:first-child {
  background-color: #e5e8ef;
}